* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}

.componentContainer {
  display: flex;
  flex-wrap: wrap;
}

.textContainer {
  flex: 1;
  padding: 2rem;
  height: 100vh;
  color: bisque;
  background-color: #000;

}

.textContainer h1 {
  font-size: 2.2rem;
  font-weight: 800;
  text-align: center;
  margin-top: 2rem;
  color: #006400;
}

.textContainer .information {
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.textContainer .information .icon {
  display: inline;
  color: #602E17;
}

.textContainer .description,
.textContainer .information span {
  font-size: 0.8rem;
  line-height: 2;
  text-align: justify;
  padding: 1rem;
}

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.socialMedia .sm-icon {
  padding: 1rem;
}

.supportContainer {
  flex: 2;
  margin: 0 auto;
  background-image: url('../../Images/Support.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.supportWrap {
  display: flex;
  flex-direction: column;
  height: 100%;

  @media screen and (max-width: 480px) {
     height: 80%;
  }
}

.supportContent {
  display: flex;
  justify-content: center;
  height: 100%;

  @media screen and (max-width: 480px) {
    padding: 10px;
  };
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 40px 20px;
  border-radius: 4px;
  max-width: 550px;
  height: auto;
  width: 100%;
  background-color: #000;
  backdrop-filter: blur(20px);
  
  @media screen and (max-width: 400px) {
    padding: 32px 32px;
  };
}

label {
  font-size: 13px;
  color: #fff;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
}

input {
  padding: 10px 1rem;
  margin-left: 2rem;
  margin-bottom: 20px;
  border: none;
  border-radius: 2px;
  width: 85%;
}

textarea {
  padding: 10px 1rem;
  border: none;
  border-radius: 2px;
  margin-left: 2rem;
  margin-bottom: 25px;
  width: 85%;
}

button {
   font-size: 1rem; 
   color: bisque;
   padding: 0.8rem;
   margin-left: 2rem;
   border-radius: 2px;
   border: none;
   width: 85%;
   background-color: #006400;
   cursor: pointer;
}
