* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Sora', sans-serif;
}

.heroContainer {
  position: relative;
  background-image: url('../../Images/Reputable.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 115vh;
  width: 100vw;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: burlywood;
  /* Add additional styling as desired */
}

.infoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #000;
  border-top: #deb887 1rem solid;
 }

.cardContent {
  font-size: 1rem;
  line-height: 1.6;
  color: bisque;
  width: 250px;
  height: 220px;
  padding: 1rem;
  margin: 1rem 1rem;
  border: none;
  background-color: #000;
}

.Icon {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 1rem 0; 
}

.Title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.Description {
  font-size: 13px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.aboutContainer,
.insuranceContainer {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}

.insuranceContainer {
  margin-bottom: 2rem;
}

.siteFeature #About h2,
.siteFeature #Pricing h2,
.siteFeature #Insurance h2 {
  font-size: 2.7rem;
  color: #602E17;
  text-align: center;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.siteFeature #About .imgWrap1 {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  margin-left: 3rem;
}

.siteFeature #Insurance .imgWrap2 {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  margin-right: 4rem;
}

.siteFeature #About .textWrap,
.siteFeature #Insurance .textWrap {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    padding: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.siteFeature #About h3,
.siteFeature #Insurance h3 {
    font-size: 1.1rem;
    color: #602E17;
    text-align: center;
    font-weight: bold;
    line-height: 2;
    margin-bottom: 1rem;
}

.siteFeature #About span,
.siteFeature #Insurance span {
  color: #602E17;
  font-weight: bold;
}

.siteFeature #About p,
.siteFeature #Insurance p {
  font-size: 0.9rem;
  text-align: justify;
  line-height: 1.8;
}

.siteFeature #Usage {
  padding-left: 2rem;
  padding-right: 2rem;
}

.instructionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #000;
 }

.InstructionContent {
  font-size: 1rem;
  line-height: 1.6;
  color: bisque;
  width: 250px;
  height: 220px;
  padding: 1rem;
  margin: 1rem 1rem;
  border: none;
  background-color: #000;
}

.testimonial-carousel {
  background-color: #deb887;
  width: 100%;
}