* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Sora', sans-serif;
}

.carouselContainer {
  padding-bottom: 2rem;
  background-color: #deb887;
}

.infoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #000;
 }

.cardContent {
  font-size: 1rem;
  line-height: 1.6;
  color: bisque;
  width: 250px;
  height: 220px;
  padding: 1rem;
  margin: 1rem 1rem;
  border: none;
  background-color: #000;
}

.Icon {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 1rem 0; 
}

.Title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.Description {
  font-size: 13px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.aboutContainer,
.insuranceContainer {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}

.insuranceContainer {
  margin-bottom: 2rem;
}

.siteFeature #About h2,
.siteFeature #Usage h2,
.siteFeature #Insurance h2 {
  font-size: 2.7rem;
  text-align: center;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.siteFeature #About .imgWrap, 
.siteFeature #Insurance .imgWrap {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 1rem;
  padding: 1rem;
}

.siteFeature #About .textWrap,
.siteFeature #Insurance .textWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin: 1rem;
    padding: 1rem;
}

.siteFeature #About h3,
.siteFeature #Insurance h3 {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    line-height: 2;
}

.siteFeature #About p,
.siteFeature #Usage p,
.siteFeature #Insurance p {
  font-size: 0.9rem;
  text-align: justify;
  line-height: 1.8;
}