* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Sora', sans-serif;
}

.navContainer {
  font-size: 1rem;
  color: bisque;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  background-color: #006400;
  z-index: 10;
  cursor: pointer;
}

.sticky {
  top: 0;
  width: 100%;
  position: fixed;
}

.navLogo {
  display: flex;
  margin-left: 4rem;
  margin-top: 0.6rem;
}

.sidebarContainer {
  display: none;
  color: #ffe4c4;
  margin-right: 4rem;

  @media screen and (max-width: 996px) {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 28px;
    transform: translate(-100%, 60%);
    cursor: pointer; 
  }
}

.navMenu {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 996px) {
    display: none;
  }
}

.navItem {
  display: flex;
  padding: 1rem 1.5rem;

  &:hover {
    border-bottom: bisque 2px solid;
  }
}

.navContainer > .active {
  border-bottom: bisque 2px solid;
}

.navButton  {
  font-size: 1rem;
  color: bisque;
  display: flex;
  padding: 0.80em;
  margin-right: 4rem;
  outline: none;
  border: 2px solid bisque;
  border-radius: 2rem;

  &:hover {
    background-color: black;
    color: bisque;
    border: none;
  }

  @media screen and (max-width: 996px) {
      display: none;
  }
}
