* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

.pageContainer {
  background-color: #602E17;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.loginformWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginform {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 4.5em;
  padding: 2em;
  border-radius: 12px;
  background-color: #ffe4c4;
}

.loginformContent h1 {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}

.loginimgContainer {
  margin-right: 15px;
}

.logingoogleContainer {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0.7em;
  border-radius: 4rem;
  color: #000;
  background-color: #deb887;
  width: 70%;

  &:hover {
    background-color: #000;
    color: #fff;
    border: none;
  }
}

.loginLineBreak {
  position: relative;
  margin: 2.5rem 0 2.2rem 0;
}

.logindivider {
  border-top: 1px solid #000;
}

.loginContent {
  font-size: 13px;
  line-height: 21px;
  position: absolute;
  top: -11px;
  left: 45%;
  padding: 0 6px;
  background-color: #deb887;
}

.loginform label {
  color: #000;
  font-size: 13px;
  text-align: left;
  margin-bottom: 4px;
  margin-left: 0.4em;
}

.loginform input {
  font-size: 14px;
  padding: 1em;
  margin-bottom: 1em;
  margin-left: 0.3em;
  border: none;
  border-radius: 4px;
  width: 340px;
}

.loginbtnContainer button {
  font-size: 1rem;
  color: #000;
  display: flex;
  justify-content: center;
  padding: 0.6em;
  margin: 0 auto;
  margin-top: 1.5em;
  margin-bottom: 1em;
  width: 120px;
  border-radius: 2em;
  background-color: #deb887;
  cursor: pointer;

  &:hover {
    background-color: #000;
    color: #fff;
    border: none;
  }
}

.loginprompt p {
  font-size: 12px;
  text-align: center;
  margin-bottom: 1em;
}