* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}

.signupContainer {
  background-color: #602E17;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.formWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#signupForm {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: #ffe4c4;
  width: 400px;
  margin: 0 auto;
  padding: 2rem;
}

#signupForm h1 {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.imgContainer {
  margin-right: 15px;
}

.googleContainer {
  font-size: 1rem;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 4rem;
  background-color: #deb887;

  &:hover {
    background-color: #000;
    color: #fff;
    border: none;
  }
}

.LineBreak {
  position: relative;
  margin: 2rem 0 2rem 0;
}

.divider {
  border-top: 1px solid #000;
}

.dividerContent {
  font-size: 13px;
  line-height: 21px;
  position: absolute;
  top: -11px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 6px;
  background-color: #deb887;
}

#signupForm label {
  font-size: 13px;
  text-align: left;
  margin-bottom: 3px;
  margin-left: 0.4em;
  color: #000;
}

#signupForm input {
  font-size: 14px;
  padding: 1.2rem 1rem;
  margin-left: 0.2em;
  width: 100%;
  border: none;
  border-radius: 4px;
}

.buttonContainer button {
  font-size: 1rem;
  color: #000;
  display: flex;
  justify-content: center;
  padding: 0.6em;
  margin: 0 auto;
  margin-top: 1.3em;
  margin-bottom: 1.2em;
  width: 120px;
  border-radius: 2em;
  background-color: #deb887;
  cursor: pointer;

  &:hover {
    background-color: #000;
    color: #fff;
    border: none;
  }
}

.prompt p {
  font-size: 12px;
  text-align: center;
  margin-bottom: 2em;
}